:root {
    --grey: rgb(54, 54, 54);
    --white: rgb(228, 228, 227);
    --purple: rgb(199, 148, 190);
    --dark-purple: rgb(104, 75, 104);
    --purple-gradient: linear-gradient( 135deg, #FFF5C3 10%, #9452A5 100%);
}

body {
    background-color: var(--grey);
    color: var(--white);
    font-family: "Lora";
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: var(--purple-gradient);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 80px;
}

h1 {
    font-family: "Ubuntu";
    color: var(--grey);
    padding-left: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav a {
    text-align: center;
    padding: 28.5px 25px;
    font-family: "Abel";
    font-weight: bold;
    font-size: large;
    height: 25px;
}

nav a:link {
    color: var(--white);
    text-decoration: none;
}

nav a:visited {
    color: var(--white);
    text-decoration: none;
}

nav a:hover{
    background-color: var(--purple);
    color: var(--grey);
    border-left: 1px solid var(--dark-purple);
    border-right: 1px solid var(--dark-purple);
}

nav a:active {
    background-color: var(--dark-purple);
    color: var(--white);
}

main {
    margin: 0 30px 0 30px;
}

.top-arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    width: 50px;
    height: auto;
}

.top-arrow:hover {
    filter: brightness(1.1);
}

.top-arrow:active{
    filter: brightness(0.8);
}

.container {
    display: flex;
    margin: 30px 0;
}

.title {
    box-sizing: border-box;
    width: 20%;
    margin: 0 0;
}

.content {
    display: inline-flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    width: 79%;
    border-left: 2px solid var(--white);
    padding-left: 35px;
    justify-content: center;
    align-items: center;
    position: relative;
}

p {
    margin: 0 0; 
    width: 70vw;   
}

/* The second section: project highlights */
.project {
    position: relative;
    display: flex;
    justify-content: center;
}

.large {
    width: 70vw;
    height: 400px;
    object-fit: cover;
}

.small {
    width: 35vw;
    height: 150px;
    object-fit: cover;
    margin: 0.2vw;
}

.content img {
    box-sizing: border-box;
    padding: 0.2vw;
    background-image: var(--purple-gradient);
}

.content img:hover {
    filter: brightness(1.1) saturate(120%);
}

.text-box {
    position: absolute;
    bottom: 12%;
    left: 0.2vw;
    background-image: var(--purple-gradient);
    padding: 2%;
    color: var(--grey);
    font-family: "Ubuntu";
    line-height: 1.6;
}

.project-title {
    font-size: x-large;
    font-weight: bold;
}

.project-subtitle {
    font-size: small;
}

.project .project-title {
    font-size: large;
}

.project .project-subtitle {
    font-size: x-small;
}

/* The third section: contact card */
.contact-card {
    font-size: 20px;
    text-align: center;
    margin: 0 20px 0 0;
    border-bottom: 2px solid var(--purple);
}

.container a:hover {
    font-weight: bold;
}

.container a:link {
    color: var(--white);
    line-height: 2;
    text-decoration: none;
}

.container a:visited {
    color: var(--white);
    line-height: 2;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    header,
    main {
      flex-direction: column;
    }
    header {
        background-color: var(--white);
        height:max-content;
    }
    nav a {
        padding: 0 15px;
    }
    nav a:hover {
        border: 0;
    }
}
