:root {
    --grey: rgb(54, 54, 54);
    --white: rgb(228, 228, 227);
    --purple: rgb(199, 148, 190);
    --dark-purple: rgb(104, 75, 104);
    --purple-gradient: linear-gradient( 135deg, #FFF5C3 10%, #9452A5 100%);
}

body {
    background-color: var(--grey);
    color: var(--white);
    font-family: "Lora";
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: var(--purple-gradient);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 80px;
}

h1 {
    font-family: "Ubuntu";
    color: var(--grey);
    padding-left: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav a {
    text-align: center;
    padding: 28.5px 25px;
    font-family: "Abel";
    font-weight: bold;
    font-size: large;
    height: 25px;
}

nav a:link {
    color: var(--white);
    text-decoration: none;
}

nav a:visited {
    color: var(--white);
    text-decoration: none;
}

nav a:hover{
    background-color: var(--purple);
    color: var(--grey);
    border-left: 1px solid var(--dark-purple);
    border-right: 1px solid var(--dark-purple);
}

nav a:active {
    background-color: var(--dark-purple);
    color: var(--white);
}

main {
    margin: 0 30px 0 30px;
}

.top-arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    width: 50px;
    height: auto;
}

.top-arrow:hover {
    filter: brightness(1.1);
}

.top-arrow:active{
    filter: brightness(0.8);
}

.container {
    display: flex;
    margin: 30px 0;
}

.title {
    box-sizing: border-box;
    width: 20%;
    margin: 0 0;
}

.content {
    display: inline-flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    width: 79%;
    border-left: 2px solid var(--white);
    padding-left: 35px;
    justify-content: start;
    align-items: flex-start;
    position: relative;
}

p {
    margin: 0 0; 
    width: 70vw;
    font-size: large;   
}

/* The second section: project highlights */
.project {
    position: relative;
    display: flex;
}

.avatar {
    width: 100px;
    height: auto;
}

.large {
    width: 71vw;
    height: 400px;
    object-fit: cover;
}

.medium {
    width: 70vw;
    height: 150px;
    margin-top: 1vw;
    object-fit: cover;
}

.small {
    width: 35vw;
    height: 150px;
    object-fit: cover;
    margin-right: 1vw;
}

.content img:hover {
    filter: brightness(1.1) saturate(120%);
}

.text-box {
    position: absolute;
    bottom: 12%;
    left: 0;
    background-image: var(--purple-gradient);
    padding: 2%;
    color: var(--grey);
    font-family: "Ubuntu";
    line-height: 1.6;
}

.large .project-title {
    font-size: x-large;
    font-weight: bolder;
}

.large .project-subtitle {
    font-size: medium;
    font-weight: normal;
}

.project-title {
    font-size: large;
    font-weight: bold;
}

.project-subtitle {
    font-size: x-small;
}

/* The third section: contact card */
.contact-card {
    font-size: 20px;
    text-align: center;
    margin: 0 20px 0 0;
    border-bottom: 2px solid var(--purple);
}

.contact-card a:hover {
    font-weight: bold;
}

.contact-card a:link {
    color: var(--white);
    line-height: 2;
    text-decoration: none;
}

.contact-card a:visited {
    color: var(--white);
    line-height: 2;
    text-decoration: none;
}

.project-subtitle a {
    color: var(--dark-purple);
    text-decoration: none;
    font-weight: bold;
}

.project-subtitle a:visited {
    color: var(--dark-purple);
    text-decoration: none;
    font-weight: bold;
}
/* .card {
    display: inline-flex;
    justify-content: space-between;
    width: 70vw;
} */

@media screen and (max-width: 768px) {
    header,
    main {
      flex-direction: column;
    }
    header {
        background-color: var(--white);
        height:max-content;
    }
    h1 {
        text-align: center;
        padding: 0;
    }
    nav a {
        padding: 0 15px;
    }
    nav a:hover {
        border: 0;
    }
    .container {
        margin: 20px 0 20px -20px;
    }
    .content {
        padding: 0 0 0 20px;
    }
    h2 {
        font-size: 17px;
        font-weight: bold;
        font-family: "Abel";
    }
    .contact-card, p {
        font-size: 15px;
    } 
    .large {
        height: 200px;
    }
    .large .project-subtitle {
        font-size: small;
    }
}

@media screen and (max-width: 375px) {
    header,
    main {
      flex-direction: column;
    }
    header {
        background-color: var(--white);
        height:max-content;
    }
    h1 {
        text-align: center;
        padding: 0;
    }
    nav a {
        padding: 0 15px;
    }
    nav a:hover {
        border: 0;
    }
    .container {
        margin: 20px 0 20px -20px;
    }
    .content {
        padding: 0 0 0 10px;
    }
    h2 {
        font-size: 17px;
        font-weight: bold;
        font-family: "Abel";
    }
    .contact-card, p {
        font-size: 15px;
    } 
    .large {
        width: 70vw;
        height: 200px;
        padding: 0 2px 0 0;
    } 
    .large .project-title {
        font-size: large;
    }
    .large .project-subtitle {
        font-size: x-small;
    }
    .medium {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        margin-top: 0;
        /* border: 1px solid white; */
    }
    .small {
        width: 70vw;
        /* margin: 1vw 0 0 0; */
        padding: 2px 0;
    }
}